// Imports

@import "../materialize-src/sass/components/color";
@import "../materialize-src/sass/components/variables";

@font-face {
  font-family: "DejaVu Mono";
  src: url(../resources/fonts/DejaVuSansMono.ttf);
}

@font-face {
  font-family: "Cutive Mono";
  src: url(../resources/fonts/CutiveMono-Regular.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../resources/fonts/RobotoMono-Regular.ttf);
}

/* General styles */


.no-padding{
  padding: 0px;
}

.no-margin{
  margin: 0px;
}

.full-height{
  height: 100%;
}

.hidden{
  display: none !important;
}

#app-preloader-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#app-preloader{
  margin: auto;
}

// Flexbox convenience classes

.display-flex{
  display: flex !important;
}

.flex-row{
  display: flex !important;
  flex-direction: row !important;
}

.flex-col{
  display: flex !important;
  flex-direction: column !important;
}

.flex-row.flex{
  flex: 1 !important;
}
.flex-col.flex{
  flex: 1 !important;
}

.align-center{
  align-items: center;
}

/* Navigation styles */

#navbar-search{
  width: calc(100% - 180px);
}

.input-field input[type=search]:focus{
  background-color: lighten($primary-color, 10%);
}

.side-nav li{
  padding: 0;
  line-height: 45px;
  height: 45px;
}

.side-nav li a{
  line-height: 45px;
  height: 45px;
}

.side-nav li.logo{
  color:rgba(0, 0, 0, 0.87);
  padding-left: 10px;
  line-height: 64px;
  height: 64px;
  font-weight: 300;
  font-size: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 175px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 12;
  will-change: width, height;
}

.side-nav li.logo:hover{
  background-color: white;
}

.side-nav .collapsible-header, .side-nav .collapsible-body{
  color: rgba(0, 0, 0, 0.87);
}

.side-nav .collapsible-body{
  display: block;
}



/* File browser styles */

#file-browser{
  position: absolute;
  top: 64px;
  left: 0px;
  width: 250px;
  height: calc(100% - 64px);
}

#file-browser li{
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#add-files{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.no-margin .collection{
  border-radius: 0;
}

.collection-item{
  height: 48px;
}

/* Content styles */

.content-section{
  position: absolute;
  left: 250px;
  top: 112px;
  width: calc(100% - 250px);
  height: calc(100% - 112px);
}

.content-section:not(:first-of-type){
  padding: 15px;
}

#editor{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "DejaVu Mono";
  // font-size: 18px;
}

#search-modal-trigger{
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

#search-modal{
  left: 250px;
  width: calc(100% - 250px);
  background-color: $primary-color;
  color: white;
}

#find-row{
  display: flex;
  flex-direction: row;
}

#modal-search-bar input{
  margin-bottom: 0;
}

#modal-replace-bar input{
  margin-bottom: 0;
}

.btn-floating{
  flex: none;
  margin-left: 15px;
}

#modal-replace-bar a{
  margin-left: 15px;
  background-color: color("blue-grey", "darken-3");
}

#modal-search-bar a{
  margin-left: 15px;
  background-color: color("blue-grey", "darken-3");
}

.switch label input[type=checkbox]:checked + .lever{
  background-color: color("blue-grey", "darken-3");
}

.switch label input[type=checkbox]:checked + .lever:after{
  background-color: color("blue-grey", "darken-3");
}

#modal-search-bar p{
  margin-left: 10px;
}

#replace{
  width: 160px;
}

#replace-all{
  width: 220px;
}

#search-button{
  width: 160px;
}

.modal-content.btn{
  flex: none;
}

#preview{
  overflow-y: scroll;
}

/* Tab styles */

.tabs{
  position: absolute;
  left: 250px;
  z-index: 10;
  width: calc(100% - 250px) !important;
}

// Ace search bar

.ace_search.right{
  background-color: $primary-color !important;
  border-radius: 4px !important;
}

.ace_search_form, .ace_replace_form{
  border: none !important;
}

// Settings styles

#settings > nav .brand-logo{
  margin-left: 15px;
}
