// Imports

@import "../materialize-src/sass/components/color";
@import "../materialize-src/sass/components/variables";

@font-face {
  font-family: "DejaVu Mono";
  src: url(../resources/fonts/DejaVuSansMono.ttf);
}

@font-face {
  font-family: "Cutive Mono";
  src: url(../resources/fonts/CutiveMono-Regular.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../resources/fonts/RobotoMono-Regular.ttf);
}

/* General styles */


.no-padding{
  padding: 0px;
}

.no-margin{
  margin: 0px;
}

.full-height{
  height: 100%;
}

/* Navigation styles */

#navbar-search{
  width: calc(100% - 180px);
}

.input-field input[type=search]:focus{
  background-color: lighten($primary-color, 10%);
}

.side-nav li{
  padding: 0;
  line-height: 45px;
  height: 45px;
}

.side-nav li a{
  line-height: 45px;
  height: 45px;
}

.side-nav li.logo{
  color:rgba(0, 0, 0, 0.87);
  padding-left: 10px;
  line-height: 64px;
  height: 64px;
  font-weight: 300;
  font-size: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 175px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 12;
  will-change: width, height;
}

.side-nav li.logo:hover{
  background-color: white;
}

.side-nav .collapsible-header, .side-nav .collapsible-body{
  color: rgba(0, 0, 0, 0.87);
}

.side-nav .collapsible-body{
  display: block;
}

/* File browser styles */

#file-browser{
  position: absolute;
  top: 64px;
  left: 0px;
  width: 250px;
  z-index: 11;
  height: calc(100% - 64px);
}

#file-browser li{
  width: 100% !important;
  text-overflow: ellipsis;
}

#add-files{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.no-margin .collection{
  border-radius: 0;
}

.collection-item{
  height: 48px;
}

/* Content styles */

.content-section{
  position: absolute;
  left: 250px;
  top: 112px;
  width: calc(100% - 250px);
  height: calc(100% - 112px);
}

.content-section:not(:first-of-type){
  padding: 15px;
}

#baseline{
  font-family: "DejaVu Mono";
  // font-size: 18px;
}

#preview{
  overflow-y: scroll;
}

/* Tab styles */

.tabs{
  position: absolute;
  left: 250px;
  z-index: 10;
  width: calc(100% - 250px) !important;
}
